<div class="card">
  <div class="card-header">
    {{user_id}}
  </div>
  <div class="card-body" id="{{id}}">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <a href="#" id="viewPostBtn" class="btn btn-primary">View Post</a>
  </div>
</div>