<form>
  <div class="mb-3">
    <label for="post-title" class="form-label">Title</label>
    <input type="post-title" class="form-control" id="post-title" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="post-text" class="form-label">Enter text...</label>
    <textarea class="form-control" id="post-text" rows="3"></textarea>
  </div>
  <button type="submit" id="loginSubmit" class="btn btn-primary">Submit</button>
</form>
