<form id="login-form">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <div class="mb-3">
    <label for="usernameLogin" class="form-label">Username</label>
    <input type="username" class="form-control" id="usernameLogin">
  </div>
  <div class="mb-3">
    <label for="passwordLogin" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordLogin">
  </div>
  <button type="submit" id="loginSubmit" class="btn btn-primary">Submit</button>
  <button type="button" id="sign-up" class="btn btn-primary">Sign Up</button>
</form>

<script src="/js/login.js"></script>