<form id="signup-form">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username</label>
    <input type="username" class="form-control" id="username-signup">
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" id="signUpSubmit" class="btn btn-primary">Sign Up</button>
  <button type="button" id="login" class="btn btn-primary">Login</button>
</form>

<script src="/js/signup.js"></script>